/*
@import "h5bp";
@include h5bp-helpers;
@include h5bp-chromeframe;
@include h5bp-media;
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

html { overflow-y: scroll; }

h2 { margin: 0 0 10px 0; padding: 0px 0 35px 0; font-size: 30px; border-bottom: 1px solid #DDD; font-weight: 300; text-align: center; font-family: 'Open Sans', sans-serif; }

h3 { font-family: Georgia; }

h4 { font-family: 'Open Sans', sans-serif; }

h4 { margin-bottom: 10px; }

p#logo { width: 212px; height: 85px; text-indent: -99999px; background-image: url("/img/logo.png"); }

body { background-image: url(http://subtlepatterns.com/patterns/diamond_upholstery.png); font-family: Helvetica, Arial, sans-serif; }

div#main { max-width: 950px; margin: 0 auto; padding: 1px 30px 0 30px; background-color: #fff; border-color: #DDD; border-style: solid; border-width: 0px 1px 1px 1px; }
div#main div#content { max-width: 700px; margin: 40px auto 50px auto; }
div#main div#content img.banner { width: 100%; margin-bottom: 25px; }

body#about img#georgie { width: 220px; float: left; margin: 0 20px 20px 0; }

body#testimonials dl { font-family: Georgia; }
body#testimonials dt { background: white url("/img/quotes.png") no-repeat 0 0; padding: 0 0 0 30px; line-height: 145%; }
body#testimonials dd { margin: 7px 0 40px 0; color: #666; padding: 0 0 0 50px; }

body#faq dl { font-family: Georgia; }
body#faq dt { font-family: 'Open Sans', sans-serif; }
body#faq dd { margin: 7px 0 40px 0; line-height: 145%; color: #666; }

body#prices table { width: 500px; outline: 1px solid #CCC; margin: 40px auto; font-size: 13px; }
body#prices td { padding: 10px; }
body#prices tr.odd { background-color: #EFEFEF; }

body#contact div#content p { font-size: 35px; line-height: 30px; text-align: center; margin: 35px 0 100px 0; }
body#contact div#content p a { text-decoration: none; color: #333; }
body#contact div#content p a:link { color:  #CCC; }
body#contact div#content p a:visited { color: #CCC; }
body#contact div#content p a:hover { text-decoration: underline; }

body#menus .menu-course { font-family: 'Open Sans', sans-serif; font-weight: 300; text-align: center; padding: 0 0 25px 0; font-size: 20px; }
body#menus .menu-course-choices { text-align: center; padding: 0 0 25px 0; font-family: Georgia; color: #666; }
body#menus .menu-course-choices li { padding: 0 0 10px 0; }
body#menus .note { font-size: 13px; text-align: center; border-top: 1px solid #CCC; padding-top: 15px; }

div#carousel { margin-top: 25px; }
div#carousel div { background-color: #fff; height: 360px; width: 950px; background-repeat: no-repeat; }
div#carousel div p { margin: 280px 0 0 0; text-align: center; font-family: 'Open Sans', sans-serif; color: #999; font-size: 18px; }
div#carousel div#one { background-image: url("/img/homepage-1.png"); }
div#carousel div#two { background-image: url("/img/homepage-2.png"); }
div#carousel div#three { background-image: url("/img/homepage-3.png"); }
div#carousel div#four { background-image: url("/img/homepage-4.png"); }

a { text-decoration: none; }

body#homepage h3 { margin: 15px 0; padding: 15px 10px 15px 0; font-size: 20px; border-top: 1px solid #DDD; border-bottom: 1px solid #DDD; }

p { font-size: 16px; line-height: 150%; color: #666; margin: 0 0 20px 0; font-family: Georgia; }

header { border-color: #DDD; border-style: solid; border-width: 10px 1px 1px 1px; max-width: 960px; padding: 25px; margin: 30px auto 0 auto; height: 85px; background-color: #fff; position: relative; font-family: 'Open Sans', sans-serif; }
header a:link { color: #333; outline: none; text-decoration: none; }
header a:visited { color: #333; }
header a:hover { text-decoration: underline; }

footer { width: 960px; margin: 0 auto; margin-bottom: 50px; padding: 10px 0; }
footer .twitter, footer .facebook { display: block; text-indent: -9999px; width: 30px; height: 29px; background-image: url(/img/sprites.png); opacity: 0.4; float: right; margin-left: 10px; -webkit-transition: all, 0.25s, ease-in-out; -moz-transition: all, 0.25s, ease-in-out; -o-transition: all, 0.25s, ease-in-out; transition: all, 0.25s, ease-in-out; }
footer .twitter:hover, footer .twitter:focus, footer .facebook:hover, footer .facebook:focus { opacity: 1; }
footer .facebook { background-position: 0px 0; }
footer .twitter { background-position: -30px 0; }

nav ul { list-style-type: none; padding: 0; right: 18px; top: 50px; position: absolute; }
nav ul li { float: left; }
nav ul li a { padding: 10px 20px; display: inline-block; }
nav ul li a:link { color: #333; }

/* root element for tabs  */
ul.tabs { list-style: none; margin: 0 0 25px 0!important; padding: 0; border-bottom: 1px solid #CCC; height: 31px; font-family: Georgia; }

/* single tab */
ul.tabs li { float: left; text-indent: 0; padding: 0; margin: 0 !important; list-style-image: none !important; }

/* link inside the tab. uses a background image */
ul.tabs a { font-family: 'Open Sans', sans-serif; font-size: 12px; display: block; height: 30px; line-height: 30px; width: 175px; text-align: center; text-decoration: none; color: #333; padding: 0px; margin: 0px; position: relative; top: 1px; }

ul.tabs a:active { outline: none; }

/* when mouse enters the tab move the background image */
ul.tabs a:hover { background-color: #EFEFEF; }

/* active tab uses a class name "current". its highlight is also done by moving the background image. */
ul.tabs a.current, ul.tabs a.current:hover, ul.tabs li.current a { background-color: #CCC; cursor: default !important; color: #000 !important; }

/* Different widths for tabs: use a class name: w1, w2, w3 or w2 */
/* initially all panes are hidden */
.panes .pane { display: none; }
