<h3 class="menu-course">Starters</h3>
<ul class="menu-course-choices">
<perch:content id="ss_starters" type="textarea" label="Starters" textile="true" editor="markitup" required="true" />
</ul>

<h3 class="menu-course">Main Courses</h3>

<ul class="menu-course-choices">
<perch:content id="ss_mains" type="textarea" label="Mains" textile="true" editor="markitup" required="true" />
</ul>

<h3 class="menu-course">Desserts</h3>

<ul class="menu-course-choices">
<perch:content id="ss_desserts" type="textarea" label="Desserts" textile="true" editor="markitup" required="true" />
</ul>

      