.topbar.dark {
	border-bottom: 1px solid rgb(51,51,51);
}

.metanav a:link,
.metanav a:visited {
	color: rgb(204,204,204);
}

.metanav a:hover,
.metanav a:active {
	color: rgb(128,128,128);
}

.metanav .settings.selected {
	color: rgb(25,25,25);
}

.metanav .account.selected {
	color: rgb(25,25,25);
}

.mainnav {
	border-left: 1px solid rgb(229,229,229);
}

.dark .mainnav {
	border-left: 1px solid rgb(191,191,191);
}

.mainnav a:link,
.mainnav a:visited {
	color: rgb(229,229,229);
}

.mainnav a:hover,
.mainnav a:active,
.mainnav a:focus {
	color: rgb(178,178,178);
}

.dark .mainnav a:link,
.dark .mainnav a:visited {
	color: rgb(128,128,128);
}

.dark .mainnav a:hover,
.dark .mainnav a:active,
.dark .mainnav a:focus {
	color: rgb(153,153,153);
}

#sidebar-toggle {
	color: rgb(229,229,229);
}


.dark #sidebar-toggle span {
	color: rgb(191,191,191);
}

.subnav a:link,
.subnav a:visited {
	text-decoration: none;
	color: rgb(178,178,178);
}

.subnav a:hover,
.subnav a:active,
.subnav a:focus {
	color: rgb(153,153,153);
}


.main h2,
.main .h2 {
	background-color: rgb(247,247,249);
	color: rgb(128,128,128);
}

.smartbar .filter .open {
	box-shadow: 0 3px 3px rgb(178,178,178);
}

.smartbar .filter .open li {
	border-top: 1px dotted #ababab;
}


a.create-subpage:link,
a.create-subpage:visited {
	color: #ababab;
}


form .hint {
	color: rgb(191,191,191);
}

form p.stuck {
	background-color: rgb(82,82,82);
}

form p.stuck.error {
	background-color: #dd9999;
}

ul.reorder li a:link,
ul.reorder li a:visited {
	color: rgb(128,128,128);
}

.dash .widget h2 {
	border-bottom: 1px solid #ababab;
	background-color: #efefef;
}

.dash .widget h3 .note {
	color: rgba(41,85,78,0.5);
}


.dash .widget .bd ul.mod {
	border-top: 1px solid #ababab;
}

.dash .widget .bd li {
	border-bottom: 1px solid #ababab;
}

.dash .widget .bd li:hover {
	background-color: #ababab;
}

.dash .widget .bd a.action:link,
.dash .widget .bd a.action:visited {
	background-color: rgb(191,191,191);
}

.dash .widget .bd li .note {
	color: rgb(128,128,128);
}

a.action,
a.delete,
span.delete,
.preview {
	background-color: rgb(229,229,229);
}

.compact-button,
.button {
	background-color: rgb(229,229,229);
	color: rgb(75,110,100);
}

.alert.draft a.button:link,
.alert.draft a.button:visited {
	color: rgb(64,64,64);
}


#confirm-dialogue {
	background: rgb(84,81,76);
}

#confirm-dialogue a.cancel:link,
#confirm-dialogue a.cancel:visited {
	background-color: rgb(128,128,128);
}

#confirm-dialogue span.speak {
	border-color: rgb(84,81,76) transparent transparent transparent;
}

.footer {
	border-top: 1px solid rgb(229,229,229);
}