html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	/*outline: 0;*/
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */

body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/* fonts */

body {
	font:13px/1.22 arial,helvetica,clean,sans-serif;
}

table {
	font-size:inherit;
}

pre,code,kbd,samp,tt{
	font-family:monospace;
	line-height:99%;
}

.topbar {
	background-color: white;
}

.icon,
.alert:before {
	background-image: url(../img/sprites@2x.png);
	background-size: 33px 3000px;
	background-position: right bottom;
	background-repeat: no-repeat;
}

.button {
	font-family: Arial, Helvetica, clean, sans-serif;
	background-color: rgba(0, 0, 0, 0.1);
	color: rgb(75, 110, 100);
	display: inline-block;
	border-radius: 5px;
	border: 1px solid rgb(199, 199, 199);
	box-shadow: 0 1px 2px rgba(0,0,0,0.3);
	padding: 4px 10px 4px 10px;
	font-size: 0.923em;
	min-width: 40px;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px 0 #fff;

	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(bottom, #B4C1BD 0%, #FFFFFF 50%, #FFFFFF 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(bottom, #B4C1BD 0%, #FFFFFF 50%, #FFFFFF 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(bottom, #B4C1BD 0%, #FFFFFF 50%, #FFFFFF 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #B4C1BD), color-stop(0.5, #FFFFFF), color-stop(1, #FFFFFF));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(bottom, #B4C1BD 0%, #FFFFFF 50%, #FFFFFF 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to top, #B4C1BD 0%, #FFFFFF 50%, #FFFFFF 100%);

	margin: -5px 10px 0 0;
	font-size: 0.846em;
}


body {
	color: #000;
	background-color: #aaa;
}

.logincont,
#content {
	width: 420px;
	margin: 120px auto;
}

#login {
	font-size: 110%;
}

#login .bd {
	color: #000;
	background-color: #fff;
}

#hd {
	padding: 30px;
   	border-radius: 10px 10px 0 0;
}

#hd a img {
	border: 0;
}

#login .bd div.cont, 
#login .bd form {
	margin: 0 10px;
	padding: 20px 0 35px 0;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.dark #login .bd form {
	border-top: 0;
}

#login .bd form label {
	width: 120px;
	padding-right: 10px;
	margin-top: 2px;
	float: left;
	display: block;
	text-align: right;
}

#login .bd form input.text {
	width: 200px;
}

#login .bd form div {
	padding: 10px 0 9px 0;
	margin-bottom: 1px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

#login form p {
	margin-top: 10px;
	margin-left: 130px;
}

#login form.error p {
	margin-left: 0;
}

#login form.reset p.instructions {
	margin: 0 20px 20px 20px;
}

#login form p.alert-failure {
	position: relative;
	background-color: #eccfcf;
	color: #b34040;
	padding: 6px 5px 5px 40px;
	border-radius: 10px;
	margin: 0 0 10px 0;
}

#login form p.alert-failure:before {
	content: '';
	background-position: 15px -705px;
	width: 40px;
	height: 30px;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}


form div.error {
	background-color: #eccfcf;
}

form div.error label {
	color: #b34040;
}

form div.error span.error {
	font-size: 80%;
	color: #b34040;
}

.footer,
#footer {
	color: #000;
	background-color: #fff;
	padding: 20px 30px 20px 30px;
	font-size: 90%;
	border-radius: 0 0 10px 10px;
}

.footer:after,
#footer:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}

.footer a:link,
.footer a:visited,
#footer a:link,
#footer a:visited {
	color: #0A88D2;
	text-decoration: none;
}

.footer img,
#footer img {
	margin: 0px 4px 0 0;
	border: 0;
	padding: 0;
	vertical-align: bottom;
	float: left;
}

.footer .credit,
#footer .credit {
	width: 200px;
}

.footer .reset,
#footer .reset {
	float: right;
	width: 100px;
}


.footer .reset a:link,
.footer .reset a:visited,
#footer .reset a:link,
#footer .reset a:visited {
	color: #ccc;
}

.footer .reset a:hover,
.footer .reset a:active,
#footer .reset a:hover,
#footer .reset a:active {
	color: #0A88D2;
}

.button,
.compact-button {
	display: inline-block;
	padding: .4em 1.5em;
	text-decoration: none;
	color: #333;
	font-size: 93%;
	cursor: pointer;
	border-radius: 0.5em;	
}

h1 {
	margin-bottom: 1em;
	font-size: 120%;
	text-align: center;
}

#login .bd div.cont {
}

#login .bd div.cont p {
	margin-bottom: 1em;
	padding: 0 15px;
}

#login .bd div.cont p.error {
	background-position: 15px -705px;
	background-color: #eccfcf;
	color: #b34040;
	padding: 6px 5px 5px 40px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	margin: 0 0 10px 0;
	text-align: left;
}

code.sql {
	color: navy;
}