html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -------- end reset ----------- */


body {
	font:13px/1.22 Arial, Helvetica, clean, sans-serif;
	background-color: #fff;
}

strong {
	font-weight: bold;
}

.sidebar {
	padding: 0 20px;
}

.main {
	background-color: #fff;
	
}

.main:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}

.topbar {
	padding-top: 20px;
	border-bottom: 1px solid rgb(234, 234, 234);
	position: relative;
	min-height: 60px;
}

.topbar.dark {
	border-bottom: 1px solid rgba(0, 0, 0, 0.8);
	border-bottom: 0;
}

.topbar:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: left;
	height: 0;
}

.body {
	margin: 0 20px 20px 20px;
}

.inner {
	float: left;
	width: 100%;
	position: relative;
}

.icon,
.alert:before,
.button.add:before,
.button.paging-next:before,
.button.paging-prev:before,
ol.sortable li div:after {
	background-image: url(../img/sprites@1x.png);
	background-size: 33px 3000px;
	background-position: right bottom;
	background-repeat: no-repeat;
}


@media 	only screen and (-moz-min-device-pixel-ratio: 1.5), 
		only screen and (-o-min-device-pixel-ratio: 3/2), 
		only screen and (-webkit-min-device-pixel-ratio: 1.5), 
		only screen and (min-devicepixel-ratio: 1.5), 
		only screen and (min-resolution: 1.5dppx) 
{

	.icon,
	.alert:before,
	.button.add:before,
	.button.paging-next:before,
	.button.paging-prev:before,
	ol.sortable li div:after {
		background-image: url(../img/sprites@2x.png);
		background-size: 33px 3000px;
		background-position: right bottom;
		background-repeat: no-repeat;
	}

}



.sidebar .helptext {
	display: none;
}

.sidebar .metanav {
	float: right;
	padding: 40px 0 0 0;
}







.clear:after,
.group:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}

.metanav {

	
	width: 235px;
}

.sidebar-closed .metanav {
	padding: 30px 20px;
	margin-top: 65px;
	border-bottom: 0;
}

.metanav:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}

.metanav li {
	display: inline;
	font-size: 0.923em;
}

.metanav a:link,
.metanav a:visited {
	text-decoration: none;
	color: rgba(0,0,0,0.2);
	text-shadow: 1px 1px 0 #fff;
	padding: 2px 0 1px 20px;
	display: block;
	float: left;
	margin-right: 17px;
}

.metanav a:hover,
.metanav a:active {
	color: rgba(0,0,0,0.5);
}

.sidebar-closed .metanav a:link,
.sidebar-closed .metanav a:visited {
	padding: 0;
	margin: 0 0 10px 0;
	width: 20px;
	height: 20px;
	display: block;
	float: none;
}

.sidebar-closed .metanav a:hover,
.sidebar-closed .metanav a:active {
	text-decoration: none;
}

.metanav .settings {
	background-position: 0 -464px;
}

.metanav .settings:hover {
	background-position: 0 -1680px;
}

.metanav .settings.selected {
	background-position: 0 -1720px;
	color: rgba(0,0,0,0.9);
}

.metanav .account {
	background-position: 0 -488px;
}

.metanav .account:hover {
	background-position: 0 -1760px;
}

.metanav .account.selected {
	background-position: 0 -1800px;
	color: rgba(0,0,0,0.9);
}




.metanav .help {
	background-position: 0 -816px;
}

.metanav .help a:hover {
	background-position: 0 -2264px;
}

a.logout:link,
a.logout:visited {
	background-color: #999999;
	border-radius: 10px;
	min-width: 30px;
	text-shadow: none;
	color: #fff;
	/*background-position: 7px -507px;*/
	margin-right: 0;
	margin-top: -3px;
	padding: 3px 6px 3px 6px;
	display: block;

}

a.logout:hover,
a.logout:active {
	background-color: #666;
}


.sidebar-closed a.logout:link,
.sidebar-closed a.logout:visited {
	background-color: #999999;
	border-radius: 12px;
	color: #fff;
	background-position: 5px -507px;
	min-width: 0;
	position: absolute;
	top: 28px;
	right: 17px;
}

.sidebar-closed a.logout:hover,
.sidebar-closed a.logout:active {
	background-color: #666;

}


.metanav a.help:link,
.metanav a.help:visited {
	display: none;
}

.sidebar-closed .metanav a.help:link,
.sidebar-closed .metanav a.help:visited {
	display: block;
}

.sidebar-closed .metanav a.help:hover,
.sidebar-closed .metanav a.help:active {
	background-position: 0 -2264px;
}


.logo {
	margin: 20px 0;
}

.helptext {
	border-top: 1px dashed rgb(234, 234, 234);
	padding-top: 20px;
	font-size: 0.923em;
	color: #9B9B9B;
}

.main .helptext {
	border: 0;
	color: #333;
}

.helptext h2 {
	color: rgb(127,153,204);
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 1.154em;
}

.helptext h2 a:link,
.helptext h2 a:visited {
	color: rgb(127,153,204);
	text-decoration: none;
}

.helptext .help {
	padding-left: 20px;
	background-position: 0 -815px;
}

.helptext h3 {
	font-weight: bold;
	color: #777777;
	margin-bottom: 1em;
	font-size: 1.077em;
}

.helptext p {
	margin-bottom: 1em;
	line-height: 1.4;
}

.main .helptext p,
.main .helptext h3 {
	padding: 0 10px;
}

.helptext ul {
	list-style: disc;
	margin: 0 0 20px 20px;
}

.main .helptext code {
	font-size: 1em;
}

.main .helptext code.example {
	margin-left: 2em;
} 

.helptext code a:link,
.helptext code a:visited {
	color: #777777;
	text-decoration: none;
}

.helptext code a:hover,
.helptext code a:active {
	color: #000;
	text-decoration: none;
}

.helptext em {
	font-style: italic;
}

.dashnav {
	float: left;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 5px;
}

.dashnav li {
	display: inline;
	padding-right: 10px;
}

.dashnav a:link,
.dashnav a:visited {
	display: inline-block;
	width: 32px;
	height: 32px;
	padding: 0;
	margin: 0;
}

.dashnav a span {
	position: absolute;
	left: -9999em;
}

.dashnav .selected .dash { background-position: 0 0; }

.dashnav .dash { background-position: 0 -40px; }

.dashnav .dash:hover { background-position: 0 -1456px; }

.dark .dashnav .dash { background-position: 0 -120px; }

.dark .dashnav .selected .dash { background-position: 0 -80px; }

.dark .dashnav .dash:hover { background-position: 0 -1512px; }

.dashnav .selected .site { background-position: 0 -160px; }

.dashnav .site:hover { background-position: 0 -1568px; }

.dashnav .site { background-position: 0 -200px; }

.dark .dashnav .selected .site { background-position: 0 -240px; }

.dark .dashnav .site { background-position: 0 -280px; }

.dark .dashnav .site:hover { background-position: 0 -1624px; }




.mainnav {
	float: left;
	font-family: Helvetica, Arial, clean, sans-serif;
	font-size: 2.462em;
	font-weight: 100;
	margin-bottom: 20px;
	
	border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.dark .mainnav {
	border-left: 1px solid rgba(255, 255, 255, 0.25);
}

.mainnav ul,
.mainnav li {
	display: inline;
}

.mainnav li {
	padding-left: 20px;
}

.mainnav li li {
	padding-left: 0;
}

.mainnav a:link,
.mainnav a:visited {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.2);
	padding: 0 0 0 10px;
}

.mainnav a:hover,
.mainnav a:active,
.mainnav a:focus {
	color: rgba(0, 0, 0, 0.3);
}

.mainnav .selected a {
	font-weight: normal;
	color: rgb(0, 0, 0);
}


.dark .mainnav a:link,
.dark .mainnav a:visited {
	color: rgba(255, 255, 255, 0.5);
}

.dark .mainnav a:hover,
.dark .mainnav a:active,
.dark .mainnav a:focus {
	color: rgba(255, 255, 255, 0.6);
}

.dark .mainnav .selected a {
	color: rgb(255, 255, 255);
}

#sidebar-toggle {
	position: absolute;
	top: 30px;
	right: 20px;
	color: rgba(0, 0, 0, 0.2);
	text-decoration: none;
	min-width: 90px;
	min-height: 24px;
	background-position: right -320px;
	padding-right: 0;
	display: none;
}

.dark #sidebar-toggle {
	background-position: right -344px;
}


#sidebar-toggle:hover,
#sidebar-toggle:focus {
	background-position: right -368px;
	padding-right: 32px;
}

.dark #sidebar-toggle:hover,
.dark #sidebar-toggle:focus {
	background-position: right -392px;
}

.sidebar-closed #sidebar-toggle:hover {
	background-position: right -416px;
}

.sidebar-closed .dark #sidebar-toggle:hover {
	background-position: right -440px;
}


#sidebar-toggle span {
	position: absolute;
	left: -9999em;
}

#sidebar-toggle:hover span,
#sidebar-toggle:focus span {
	position: relative;
	left: auto;
}

.dark #sidebar-toggle span {
	color: rgba(255, 255, 255, 0.75);
}

.subnav {
	font-family: Helvetica, Arial, clean, sans-serif;
	font-size: 1.538em;
	margin-bottom: 20px;
	border-bottom: 1px solid #eaeaea;
	padding-left: 6px;
}

.subnav li {
	display: inline-block;
	padding: 15px 18px 12px 18px;
	margin-bottom: -1px;
}

.subnav a:link,
.subnav a:visited {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.3);
}

.subnav a:hover,
.subnav a:active,
.subnav a:focus {
	color: rgba(0, 0, 0, 0.4);
}

.subnav .selected a {
	color: #000;
}

.subnav li.selected {
	position: relative;
	background: #ffffff;
	border-bottom: 1px solid #eaeaea;
}

.subnav li.selected:after, 
.subnav li.selected:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.subnav li.selected:after {
	border-top-color: #ffffff;
	border-width: 10px;
	left: 50%;
	margin-left: -10px;
}

.subnav li.selected:before {
	border-top-color: #eaeaea;
	border-top-color: #ddd;
	border-width: 11px;
	left: 50%;
	margin-left: -11px;
}

.subnav .badge {
	color: #fff;
	background-color: rgb(185,74,72);
	font-weight: bold;
	font-size: 0.462em;
	border-radius: 20px;
	padding: 2px 4px 1px 4px;
	display: inline-block;
	text-align: center;
	position: relative;
	top: -14px;
	left: 0px;
}

h1 {
	font-weight: bold;
	padding: 0 20px 20px 20px;
	font-size: 1.077em;
}

.main h2,
.main .h2 {
	background-color: rgb(247,247,249);
	padding: 10px;
	color: rgba(0,0,0,0.5);
	font-weight: bold;
}

.h2 h2 {
	padding: 0;
	float: left;

}

.h2 .delete {
	float: right;
}

.h2:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}

.main h3 {
	color: rgb(0,0,0);
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.923em;
	margin-bottom: 10px;
}

ul+h3 {
	margin-top: 10px;
}

pre, code {
	font-family: Courier, "Courier New", monospace;
	font-size: 0.923em;
}

.info {
	padding: 10px 10px 20px 20px;
	color: rgb(127,127,127);
	line-height: 1.6;
}

.info h2 {
	padding: 0;
	background: none;
	margin-bottom: 10px;
}

.smartbar {
	background-color: rgb(248, 248, 248);
	border: 1px solid rgb(233, 234, 234);
	margin-bottom: 20px;
}

.smartbar li {
	float: left;
}

.smartbar li.fin {
	float: right;
}

.smartbar .selected {
	background-color: #fff;
	border-bottom: 1px solid #fff;
	margin-bottom: -1px;
}

.smartbar .filtered {
	background-color: #fff;
	border-bottom: 1px solid #fff;
	margin-bottom: -1px;
}

.smartbar a:link,
.smartbar a:visited,
.smartbar .set,
.smartbar .unbutton {
	padding: 10px 12px;
	display: block;
	text-decoration: none;
	color: rgb(142, 142, 142);
	border-right: 1px solid rgb(233, 234, 234);
}

.smartbar a:hover,
.smartbar a:active,
.smartbar .unbutton:hover,
.smartbar .unbutton:active {
	color: rgb(0,0,0);
}


.smartbar .selected a {
	color: #000;
	font-weight: bold;
}

.smartbar .filtered li:first-child a {
	color: #000;
}




.smartbar .selected a.sub {
	font-weight: normal;
	color: rgb(0,89,80);
}

.smartbar .set a:link,
.smartbar .set a:visited {
	padding: 0;
	display: inline;
	border: 0;
}

.smartbar .sep {
	background-position: 9px -1301px;
	padding: 0 28px 9px 0;
}

.smartbar .fin a,
.smartbar .fin .unbutton {
	border-right: 0;
	border-left: 1px solid rgb(233, 234, 234);
	padding: 6px 12px;
	margin-top: 4px;
}

.smartbar .fin.selected a {
	padding: 10px 12px;
	margin-top: 0;
}

.smartbar .new a:link,
.smartbar .new a:visited {
	color: rgb(0, 120, 0);
	text-transform: uppercase;
}

.smartbar .new.selected a:link,
.smartbar .new.selected a:visited {
	background-color: rgb(0, 120, 0);
	color: #fff;

}


.smartbar .filter {
	/*background-color: rgb(253, 254, 253);*/
}



.smartbar:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}

.smartbar .unbutton {
	background-color: transparent;
	border: 0;
	margin: 0;
	font-family: Arial, Helvetica, clean, sans-serif;
	font-size: 1em;
	display: block;
}

.smartbar .fin .undo {
	padding-left: 38px;
	background-position: 8px -1216px;
}

.smartbar .filter {
	position: relative;
}

.smartbar .filter .region {
	background-position: 10px -1133px;
	padding-left: 30px;
}

.smartbar .filter .region:hover {
	background-position: 10px -2173px;
}

.smartbar .filter .folder {
	background-position: 10px -1174px;
	padding-left: 30px;
}

.smartbar .filter ul.open {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgb(253,253,253);
	z-index: 50;
}



.smartbar .filter li {
	float: none;
}

.smartbar .filter ul a:link,
.smartbar .filter ul a:visited {
	white-space: nowrap;
}

.smartbar .filter ul a:hover,
.smartbar .filter ul a:active {
	background-color: rgb(246,246,246);
	color: #000;
}

.smartbar .filter li {
	display: none;
}

.smartbar .filter .open {
	box-shadow: 0 3px 3px rgba(0,0,0,0.3);
}

.smartbar .filter .open li,
.smartbar .filter li:first-child {
	display: block;
}

.smartbar .filter .open li {
	border-top: 1px dotted rgba(69,80,77, 0.1);
}

.smartbar .filter li:first-child {
	border-top: 0;
}

table {
	width: 100%;
	margin-bottom: 20px;
	border-collapse: separate; /* stops borders vanishing on :hover in IE */
}

th, 
td {
	padding: 8px 10px;
	border-bottom: 1px solid #EAEAEA;
}


thead th {
	background-color: rgb(252, 252, 252);
	text-align: left;
	color: #8F8F8F;
}

table a {
	text-decoration: none;
	color: #000;
}

table a:hover,
table a:active,
table a:focus {
	text-decoration: underline;
}

th.action {
	width: 40px;
}

th.alsoran {
	width: 220px;
}

th.nohoper {
	width: 110px;
}

tr:hover {
	background-color: #F8F8F8;
}

td.primary {
	font-size: 1.077em;
}

table.factsheet th {
	padding: 0 0 0 10px;
	width: 180px;
	text-align: left;
	font-weight: bold;
}

table.factsheet td {
	color: #333;
}

table.itemlist td {
	vertical-align: top;
}

.primary a:link,
.primary a:visited {
	color: #486660;
}

a.create-subpage:link,
a.create-subpage:visited {
	color: rgba(41,85,78,0.5);
	font-size: 0.846em;
	padding: 2px 0 0 10px;
	position: absolute;
	left: -9999em;
}

tr:hover .create-subpage,
.create-subpage:focus {
	position: relative;
	left: auto;
}

.toggle span {
	position: relative;
	left: -9999em;
}

.toggle {
	background-repeat: no-repeat;
	background-position: 3px -884px;
	width: 13px;
	height: 20px;
	display: inline-block;
	float: left;
	margin-left: -20px;
}

.closed .toggle {
	background-position: 3px -853px;
}

.page {
	background-position: 0 -1000px;
	padding-left: 24px;
	padding-bottom: 4px;
}

tr:hover .page {
	background-position: 0 -1840px;
}

.shared .page {
	background-position: 0 -1048px;
	padding-bottom: 5px;
}

tr:hover .shared .page {
	background-position: 0 -1880px;
}

.draft .page {
	background-position: 0 -1096px
}

tr:hover .draft .page {
	background-position: 0 -1928px
}



td.level0 {
	padding-left: 24px;
}

td.level1 {
	padding-left: 47px;
}
td.level2 {
	padding-left: 70px;
}
td.level3 {
	padding-left: 100px;
}
td.level4 {
	padding-left: 130px;
}
td.level5 {
	padding-left: 160px;
}
td.level6 {
	padding-left: 190px;
}
td.level7 {
	padding-left: 220px;
}
td.level8 {
	padding-left: 250px;
}

td.notoggle.level0 {
	padding-left: 12px;
}

td.notoggle.level1 {
	padding-left: 35px;
}
td.notoggle.level2 {
	padding-left: 59px;
}
td.notoggle.level3 {
	padding-left: 83px;
}
td.notoggle.level4 {
	padding-left: 107px;
}
td.notoggle.level5 {
	padding-left: 131px;
}
td.notoggle.level6 {
	padding-left: 155px;
}
td.notoggle.level7 {
	padding-left: 179px;
}
td.notoggle.level8 {
	padding-left: 203px;
}

span.new,
span.special {
	text-transform: uppercase;
	font-weight: bold;
	color: #007800;
	font-size: 0.923em;
}

.info .section {
	padding-top: 10px;
}


/* app menu */

#appmenu {
	position: relative;
}

#appmenu ul {
	display: inline;
}

#appmenu ul.menu {
	width: 170px;
	display: block;
	position: absolute;
	top: 0;
	left: 20px;
	z-index: 10;
	border-bottom: 1px solid #D4D4D4;
	border-left: 1px solid #D4D4D4;
}

#appmenu ul.menu li.spaceinvader {
	border-top: 0;
	padding-top: 20px;
}

#appmenu ul.menu li:last-child {
	box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}

#appmenu ul.menu li {
	display: block;
	margin: 0;
	background-color: #FDFDFD;
	border-right: 1px solid #D4D4D4;
	clear: left;
	font-size: 0.438em;
}

#appmenu .menu li:hover a {
	background-color: #F6F6F6;
	
}

#appmenu ul.menu li a {
	text-align: left;
	color: #000;
	border-top: 1px solid #D4D4D4;
	display: block;
	margin: 0 10px;
	padding: 10px;
}


#appmenu .add {
	display: none;
	float: right;
	border: 0;
}

#appmenu.menucont .add {
	display: block;
}


#appmenu ul.menu li.dumb {
	background-color: transparent;
	border-right: none;
	font-size: 1em;
	padding: 0;
	margin: -1px 0 0 0;
	border: 0;
}

#appmenu .menu li.dumb:hover a {
	background-color: #FDFDFD;
}

#appmenu .dumb a:link,
#appmenu .dumb a:visited {
	background-color: #FDFDFD;
	border-right: 1px solid #D4D4D4;
	padding: 0 10px 0px 9px;
	display: inline-block;
	color: #3D524D;
	margin-left: 0;
	border-top: 0;
}



/* Forms */


form .field+h2 {
	margin-top: 20px;
}

form .field {
	border-bottom: 1px dotted rgb(229,229,229);
	padding: 10px;
	clear: left;
}

form .field:last-of-type {
	border-bottom: 0;
}

form .field label {
	width: 220px;
	padding: 3px 10px 0 0;
	text-align: right;
	display: block;
	float: left;
	color: rgb(127,127,127);
}

form .field label span {
	display: block;
	font-size: 0.846em;
	margin-top: 2px;
}

form .field label span a:link,
form .field label span a:visited {
	text-decoration: none;
	color: rgb(127,127,127);
}

form .field:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}

form .checkboxes strong {
	font-weight: normal;
	color: #7F7F7F;
	width: 220px;
	text-align: right;
	display: block;
}

form .checkboxes div.checkbox label {
	display: inline;
	font-weight: normal;
	width: auto;
	float: none;
}

form .checkboxes div.checkbox input {
	float: none;
	margin: 0 10px 5px 233px;
}

form .checkboxes {
	margin-bottom: -14px;
}

form .checkboxes div.checkbox {
	margin-top: -15px;
	margin-bottom: 15px;
}

form fieldset.checkboxes.multi-col {
   -moz-column-count: auto;
   -moz-column-width: 200px;
   -moz-column-gap: 20px;
   -webkit-column-count: auto;
   -webkit-column-width: 200px;
   -webkit-column-gap: 20px;
   column-count: auto;
   column-width: 200px;
   column-gap: 20px;
   margin-left: 230px;
}

form .checkboxes.multi-col div.checkbox {
	margin-top: 0;
	margin-bottom: 0;
}

form fieldset.multi-col div.checkbox input {
	margin-left: 0;
}

form fieldset.multi-col.checkboxes strong {
	position: absolute;
	left: 10px;
}



form .text {
	width: 280px;
	border: 1px solid #DDDDDD;
	border-radius: 3px;
	font-size: 1em;
	padding: 4px 5px;
	box-shadow: inset 0 4px 3px -3px rgba(0,0,0,0.2);
	margin-top: -2px;
	
}

form .check {
	margin-top: 5px;
}

form p.submit {
	padding: 20px;
	border-top: 1px solid rgb(229,229,229);
	margin-top: 30px;
	font-size: 1.154em;
}

form p.submit .button {
	padding: 5px 10px;
	margin-right: 10px;
}

form p.submit a:link,
form p.submit a:visited {
	text-decoration: none;
	color: #000;
	margin-left: 5px;
	border-bottom: 1px solid #000;
}

input {
	font-family: Arial, Helvetica, clean, sans-serif;
	font-size: 1em;
}

legend.redundant {
	position: absolute;
	left: -9999em;
}

form .hint {
	display: block;
	margin-top: 5px;
	margin-left: 230px;
	font-size: 0.923em;
	color: rgba(0,0,0,0.25);
}

form .hint.error {
	color: rgb(198, 93, 90);
}

form .hidden {
	display: none;
}

form .topadd {
	position: absolute;
	top: 75px;
	right: 0px;
}

.editor-wrap {
	float: left;
}

form .markItUp textarea.text {
	font-size: 1.154em;
}

textarea.large {
	width: 450px;
	min-height: 250px;
}

textarea.xs {
	width: 450px;
	min-height: 50px;
	height: 50px;
}

textarea.s {
	width: 450px;
	min-height: 100px;
	height: 100px;
}

textarea.m {
	width: 450px;
	min-height: 150px;
	height: 150px;
}

textarea.l {
	width: 450px;
	min-height: 250px;
	height: 250px;
}

textarea.xl {
	width: 450px;
	min-height: 350px;
	height: 350px;
}

textarea.xxl {
	width: 450px;
	min-height: 450px;
	height: 450px;
}

textarea.xxxl {
	width: 800px;
	min-height: 850px;
	height: 850px;
}

input.xs {
	width: 20px;
}

input.s {
	width: 30px;
}

input.m {
	width: 200px;
}

input.l {
	width: 300px;
}

input.xl {
	width: 450px;
}


form span.radio {
	display: block;
	margin-left: 230px;
}

form span.radio label {
	width: auto;
	display: inline;
	float: none;
	text-align: left;
}

form div.map {
	display: block;
	margin-left: 230px;
	margin-top: 10px;
}

form .map_adr {
	margin-right: 10px;
}

form div.field .preview {
	border: 0;
	border-radius: 0;
	background: none;
	padding: 0;
	margin: 0;
	min-width: 0;
	text-align: left;
	display: block;
	margin-left: 230px;
	margin-top: 10px;
}

form div.file {
	display: block;
	margin-left: 230px;
	margin-top: 10px;
	padding-left: 20px;
	background-position: 0 -1000px;
}

form label.inline {
	width: auto;
	display: inline;
	float: none;
	text-align: left;
}

form div.remove {
	border-bottom: none;
	margin: 0 0 0 230px;
	margin-top: 10px;
	font-size: 0.923em;
}

form div.error {
	border-bottom: none;
	background-color: #eccfcf;
	color: #b34040;
}

label.save-as-draft {
	width: 120px;
	margin-top: 5px;
	margin-right: 4px;
	float: left;
}


form.with-stuck {
	margin-bottom: 80px;
}

form p.stuck {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 275px;
	background-color: #fff;
	padding: 10px 0 10px 65px;
	border-top: 0;
}

.sidebar-closed form p.stuck {
	right: 55px;
}

form p.stuck {
	background-color: rgba(204,204,204,0.4);
}

form p.stuck.error {
	background-color: rgba(179,64,64,0.4);
	color: #fff;
}

form p.stuck a:link,
form p.stuck a:visited {
	border-bottom: 1px solid #7f8886;
}

@media screen and (max-width: 1060px) {
	.sidebar-open form label {
		float: none;
		display: block;
		margin-bottom: 10px;
		width: auto;
		text-align: left
	}

	.sidebar-open form .hint {
		margin-left: 0;
	}

	.sidebar-open form div.field .preview,
	.sidebar-open form div.field .remove {
		margin-left: 0;
	}

	.sidebar-open form label.inline {
		width: auto;
		display: inline;
		float: none;
		text-align: left;
	}

	.sidebar-open form .checkboxes strong {
		font-weight: normal;
		color: #7F7F7F;
		width: auto;
		text-align: left;
		display: block;
		padding-bottom: 15px;
	}


	.sidebar-open form .checkboxes div.checkbox input {
		float: none;
		margin: 0 10px 5px 0px;
	}

	.sidebar-open form .checkboxes div.checkbox {
		margin-top: 0;
		margin-bottom: 0;
	}

	.sidebar-open form .checkboxes div.checkbox:last-of-type {
		margin-bottom: 15px;
	}

	.sidebar-open form fieldset.checkboxes.multi-col {
		margin-left: 0;
		margin-top: 25px;
		position: relative;
	}

	.sidebar-open form fieldset.multi-col.checkboxes strong {
		position: absolute;
		left: 0;
		top: -25px;
	}
}

@media screen and (max-width: 840px) {
	form .field label {
		float: none;
		display: block;
		margin-bottom: 10px;
		width: auto;
		text-align: left
	}

	form .checkboxes strong {
		font-weight: normal;
		color: #7F7F7F;
		width: auto;
		text-align: left;
		display: block;
		padding-bottom: 15px;
	}


	form .checkboxes div.checkbox input {
		float: none;
		margin: 0 10px 5px 0px;
	}

	form .checkboxes div.checkbox {
		margin-top: 0;
		margin-bottom: 0;
	}

	form .checkboxes div.checkbox:last-of-type {
		margin-bottom: 15px;
	}

	form fieldset.checkboxes.multi-col {
		margin-left: 0;
		margin-top: 25px;
		position: relative;
	}

	form fieldset.multi-col.checkboxes strong {
		position: absolute;
		left: 0;
		top: -25px;
	}

}

.bulk-edit .controls {
	float: right;
	margin-top: -5px;
	margin-bottom: 20px;
}

.bulk-edit .controls .field {
	display: inline;
	border: 0;
	padding-right: 10px;
}

.bulk-edit .controls label {
	width: auto;
	display: inline;
	padding: 5px 5px 0 0;
}

.bulk-edit .controls p.submit {
	margin: 0;
	padding: 0;
	border: 0;
	display: inline;
}

.bulk-edit .controls p.submit .button {
	padding: 2px 10px;
}

/* Reordering */

ul.reorder {
	margin-bottom: 20px;
}

ul.reorder li {
	background-color: rgb(246,246,246);
	padding: 10px 5px 10px 10px;
	border-bottom: 1px solid #fff;
	background-position: right -1325px
}

ul.reorder li a:link,
ul.reorder li a:visited {
	color: rgba(0,0,0,0.5);
	text-decoration: none;
	font-size: 1em;
}

ul.reorder li:hover {
	background-color: rgb(255,255,255);
	border-top: 1px solid rgb(187,187,187);
	border-bottom: 1px solid rgb(187,187,187);
	cursor: ns-resize;
}

ul.reorder li.ui-sortable-helper {
	box-shadow: 0px 2px 10px rgba(0,0,0,0.2), 0px -2px 10px rgba(0,0,0,0.2);
}

ul.reorder input {
	float: right;
}

.js ul.reorder input {
	position: absolute;
	left: -999em;
}


/* Dashboard */

.dash {
	padding-top: 20px;
}

.dash .widget {
	min-width: 250px;
	margin-bottom: 20px;
}

.dash .widget {
	float: left;
	width: 49%;
}

.dash .widget:nth-child(odd) {
	clear: both;
}

.dash .widget:nth-child(even) {
	float: right;
}


@media screen and (max-width: 860px) {

	.dash .widget {
		float: none;
		width: 100%;
	}

	.dash .widget:nth-child(even) {
		float: none;
	}

}

.dash .widget h2 {
	font-size: 1.538em;
	font-family: Helvetica, Arial, clean, sans-serif;
	color: rgb(39,83,76);
	font-weight: normal;
	border-bottom: 1px solid rgba(69,80,77,0.1);
}

.dash .widget caption,
.dash .widget h3 {
	color: rgb(41,85,78);
	text-transform: none;
	font-size: 1.385em;
	font-weight: 100;
	font-family: Helvetica, Arial, clean, sans-serif;
	margin-top: 20px;
}

.dash .widget caption {
	margin-left: 10px;
	margin-bottom: 10px;
	text-align: left;
}

.dash .widget table:first-child caption {
	margin-top: 10px;
}

.dash .widget h3 .note {
	color: rgba(41,85,78,0.5);
	padding-left: 10px
}

.dash .widget .bd {
	padding: 0 10px 10px 10px;
}

.dash .widget .bd ul,
.dash .widget .bd .fig {
	margin: 0 -10px;
	
}

.dash .widget .bd .fig {
	margin-top: 10px;
	
}

.dash .widget .bd .fig img {
	width: 20%;
}

.dash .widget .bd ul.mod {
	border-top: 1px solid rgba(69,80,77,0.1);
}

.dash .widget .bd li {
	border-bottom: 1px solid rgba(69,80,77,0.1);
	padding: 5px 10px;
}

.dash .widget .bd li:hover {
	background-color: rgba(238,238,238,0.5);
}

.dash .widget .bd a:link,
.dash .widget .bd a:visited {

	text-decoration: none;
	color: #486660;
}

.dash .widget .bd a.action:link,
.dash .widget .bd a.action:visited {
	float: right;
	background-color: rgba(0,0,0,0.25);
	color: #fff;
	padding: 2px 0;
	margin-top: -1px;
	margin-left: 10px;
}

.dash .widget .bd li:hover a.action:link,
.dash .widget .bd li:hover a.action:visited {
	background-color: rgb(0,0,0);
	color: #fff;
}

.dash .widget .note {
	color: rgba(0,0,0,0.5);
	text-align: right
}

.dash .widget .bd li .note {
	float: right;
}

.dash .widget table {
	border-collapse: collapse;
	margin-bottom: 0;
}

.dash .widget th, 
.dash .widget td {
	text-align: left;
}

.dash .widget td,
.dash .widget th {
	border-top: 1px solid #eaeaea;
	color: #486660;
	padding: 5px 10px;
}

.dash .widget td.total {
	text-align: right;
	font-size: 1.231em;
	color: rgba(41,85,78,0.5);
	padding-bottom: 0;
	line-height: 0.8;
}

.dash .widget .helptext {
	padding-top: 0.5em;
}

/* Users */

.users .user, 
.users .admin {
	background-position: 10px -914px;
	padding-left: 42px;
}


.users .admin {
	background-position: 10px -954px;
}


/* Buttons, actions and alerts */

.alert {
	position: relative;
}

.alert:before {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 30px;
	height: 30px;
}

a.action,
a.delete,
span.delete,
.preview {
	background-color: rgba(0, 0, 0, 0.2);
	color: #fff;
	display: inline-block;
	border-radius: 5px;
	padding: 2px 5px 2px 5px;
	font-size: 0.923em;
	min-width: 40px;
	text-align: center;
	text-decoration: none;
	min-width: 45px;
}

a.action:hover,
a.delete:hover,
span.delete,
.preview:hover {
	text-decoration: none;
}

td a.delete,
span.delete {
	background-color: #EBDCDA;
}

.compact-button,
.button {
	font-family: Arial, Helvetica, clean, sans-serif;
	background-color: rgba(0, 0, 0, 0.1);
	color: rgb(75, 110, 100);
	color: rgba(0, 0, 0, 0.75);
	display: inline-block;
	border-radius: 5px;
	border: 1px solid rgb(187,187,187);
	box-shadow: 0 1px 1px rgba(0,0,0,0.2);
	padding: 4px 10px 4px 10px;
	font-size: 0.846em;
	min-width: 40px;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px 0 #fff;
}

.compact-button,
.button {
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, #C9D4D3 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top, #FFFFFF 0%, #C9D4D3 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #C9D4D3));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #C9D4D3 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #C9D4D3 100%);
}

.compact-button:hover,
.button:hover {
	color: #000;
	border: 1px solid rgb(143,143,143);
	text-shadow: 1px 1px 0 rgba(255,255,255,0.5);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, #94AAA6 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top, #FFFFFF 0%, #94AAA6 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #94AAA6));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #94AAA6 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #94AAA6 100%);
}

.button, 
.unbutton {
	cursor: pointer;
}

.button.add {
	float: right;
	margin: -5px 10px 0 0;
	font-size: 0.846em;
}

.dash h2 .button.add {
	font-size: 0.615em;
	margin-top: 0;
	margin-right: 0;
}

.button.add:before {
	content: "";
	width: 14px;
	height: 14px;
	margin-left: -4px;
	display: block;
	float: left;
	background-position: 0 -790px;
}

form.add {
	width: 200px;
	float: right;
}

.alert {
	padding: 10px 10px 10px 30px;
	margin-bottom: 10px;
}

.alert a.button,
.alert a.action,
.alert input.button {
	float: right;
	text-decoration: none;
}

.alert .action {
	margin-top: -1px;
}

.alert .button {
	margin-top: -2px;
	margin-left: 10px;
	background-color: rgb(248, 246, 70);
	color: rgb(79, 79, 42);
	border-color: rgb(203, 167, 102);
	padding: 2px 10px 2px 10px;
}

.alert .button {
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(bottom, #F8F646 0%, #FFFFFF 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(bottom, #F8F646 0%, #FFFFFF 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #F8F646), color-stop(1, #FFFFFF));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(bottom, #F8F646 0%, #FFFFFF 100%);

	background-image: linear-gradient(to top, #F8F646 0%, #FFFFFF 100%);
}

.alert.draft, 
.alert.notice {
	color: rgb(204, 168, 101);
	background-color: rgb(251, 249, 233);
}

.alert.draft a:link,
.alert.draft a:visited, 
.alert.notice a:link,
.alert.notice a:visited {
	color: rgb(204, 168, 101);
}

.alert.draft a.button:link,
.alert.draft a.button:visited {
	color: rgba(0,0,0,0.75);
}

.alert.notice:before {
	background-position: 8px -542px;
}

.alert.draft:before {
	background-position: 8px -582px;
}


.alert.draft a.action,
.alert.notice a.action,
a.preview {
	color: #fff;
	background-color: rgb(192,152,83);
}

.alert.draft a.action:hover,
.alert.notice a.action:hover,
a.preview:hover {
	background-color: rgb(168,121,55);
}

.alert.filter {
	color: rgb(73, 153, 187);
	background-color: rgb(231,240,248);
	
}

.alert.filter:before {
	background-position: 8px -662px;
}

.alert.filter a:link,
.alert.filter a:visited {
	color: rgb(73, 153, 187);
}

.alert.filter a.action {
	background-color: rgb(58,135,173);
	color: #fff;
}

.alert.filter a.action:hover {
	background-color: rgb(35,103,145);
}


.alert.error {
	color: rgb(198, 93, 90);
	background-color: rgb(238, 229, 229);
	
}

.alert.error:before {
	background-position: 8px -702px;
}

.alert.error a:link,
.alert.error a:visited {
	color: rgb(198, 93, 90);
}

.alert.error a.action,
a.delete,
tr:hover td a.delete,
tr td a.delete:hover {
	background-color: rgb(198,93,90);
	color: #fff;
}

.alert.success {
	background-color: #cadfca;
	color: rgb(0, 120, 0);
}

.alert.success:before {
	background-position: 8px -622px;
}

.alert.success a:link,
.alert.success a:visited {
	color: rgb(0, 120, 0);
}

.alert.success a.action {
	background-color: rgb(0,120,0);
	color: #fff;
}


span.draft {
	background-position: 8px -592px;
	padding: 0 12px;
}

.primary {
	position: relative;
}

.primary .draft {
	position: absolute;
	right: 0;
	top: 10px;
	width: 15px;
	height: 15px;
	padding: 0;
	background-position: 0 -592px;
}

.ok {
	padding-left: 20px;
	background-position: 0px -632px;
}



.failed {
	padding-left: 20px;
	background-position: 0px -712px;
}

.warning {
	padding-left: 20px;
	background-position: 0px -552px;
}

.smartbar a.reorder:link,
.smartbar a.reorder:visited {
	background-position: 10px -1329px;
	padding-left: 35px;
}

.smartbar .selected a.reorder:link,
.smartbar .selected a.reorder:visited {
	background-position: 10px -1325px;

}

.smartbar a.reorder:hover,
.smartbar a.reorder:active {
	color: #000;
	background-position: 10px -2137px;
}


.smartbar a.page:link,
.smartbar a.page:visited {
	background-position: 10px -995px;
	padding-left: 35px;
}

.smartbar a.page:hover,
.smartbar a.page:active {
	color: #000;
	background-position: 10px -1835px;
}

.smartbar .selected a.page:link,
.smartbar .selected a.page:visited {
	background-position: 10px -1831px;
}

.smartbar a.download:link,
.smartbar a.download:visited {
	background-position: 10px -1368px;
	padding-left: 35px;
}

.smartbar a.download:hover,
.smartbar a.download:active {
	background-position: 10px -1408px;
}

/* reordering */

.placeholder {
	background-color: #e5e5e5;
}
	
ol.sortable li input {
	width: 20px;
	display: inline-block;
	float: left;
	margin: 0 10px 0 0;
}

ol.sortable li {
    padding: 8px 0 6px 35px; 
    display: block;
	min-height: 20px;
	border-bottom: 1px solid #E5E5E5;
	clear: left;
	cursor: ns-resize;
	background-position: right -1325px;
	position: relative;
}

ol.sortable.disabled li {
	cursor: default;
}

ol.sortable li:last-child {
	border-bottom: 0;
}



ol.sortable ol li {
    border-top: 1px solid #E5E5E5;
    border-bottom: 0;
}

ol.sortable li div {
	background-position: 10px -1000px;
	background-repeat: no-repeat;
	padding: 0 0 5px 35px; 
	margin-left: -35px;
	font-size: 1.077em;
}


ol.sortable li div:after {
	content: ' ';
	width: 25px;
	height: 20px;
	position: absolute;
	right: 0;
	top: 5px;
	background-position: 0 -1329px;
}

ol.sortable.disabled li div:after {
	background: none;
}

ol.sortable ol {
    margin-top: 10px;
}

ol.sortable ol:empty {
    margin-top: 0;
}

ol.sortable li.level0:first-child {
    border-top: 0;
}

.ui-nestedSortable-no-nesting li {
    color: #999;
}

ol.sortable li.ui-sortable-helper {
	box-shadow: 0px 2px 10px rgba(0,0,0,0.2), 0px -2px 10px rgba(0,0,0,0.2);
	background-color: #fff;
}




/* JavaScript inline delete */


#confirm-dialogue {
	margin: 0 auto;
	padding: 10px;
	border-radius: 10px;
	color: #fff;
	background: rgb(84, 81, 76);
	position: absolute;
	display: none;
	box-shadow: 0px 0px 8px #444;
}

#confirm-dialogue {
	background: rgba(84, 81, 76, 0.98);
}

#confirm-dialogue p {
	display: inline;
}

#confirm-dialogue a.ok:link,
#confirm-dialogue a.ok:visited {
	color: rgb(84, 81, 76);
	background-color: #b34040;
	background-position: 0;
	text-transform: uppercase;
	margin-left: 10px;
	font-weight: normal;
	text-shadow: 1px 1px 0 #fff;
	padding: 2px 10px;
	font-size: 0.923em;
	border-radius: 5px 0 0 5px;
	border-bottom: 0;
	text-decoration: none;

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, #B94A48 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top, #FFFFFF 0%, #B94A48 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #B94A48));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #B94A48 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #B94A48 100%);
}

#confirm-dialogue a.cancel:link,
#confirm-dialogue a.cancel:visited {
	color: rgb(84, 81, 76);
	background-color: #fff;
	text-transform: uppercase;
	margin-left: 1px;
	font-weight: normal;
	padding: 2px 10px;
	font-size: 0.923em;
	border-radius: 0 5px 5px 0;
	border-bottom: 0;
	text-decoration: none;

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, #FFFFFF 20%, #CCD3D6 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top, #FFFFFF 0%, #FFFFFF 20%, #CCD3D6 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(0.2, #FFFFFF), color-stop(1, #CCD3D6));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #FFFFFF 20%, #CCD3D6 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 20%, #CCD3D6 100%);

}

#confirm-dialogue a.cancel:link,
#confirm-dialogue a.cancel:visited {
	background-color: rgba(255, 255, 255, 0.5);
}

#confirm-dialogue span.speak {
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	background: transparent;
	bottom: -20px;
	right: 35px;
	border-color: rgb(84, 81, 76) transparent transparent transparent;
	border-width: 10px;
	border-style: solid;
}

#confirm-dialogue span.speak {
	border-color: rgba(84, 81, 76, 0.95) transparent transparent transparent;
}

/* paging */


.paging {
	margin: 20px 0;
}

.paging .paging-status {
	padding: 0 10px 0 8px;
	color: rgb(153,153,153);
}


.paging .paging-next {
	padding-right: 10px;
	text-align: left;
	position: relative;
	top: -1px;
}

.paging .paging-prev {
	padding-left: 10px;
	text-align: right;
		position: relative;
	top: -1px
}

.button.paging-next:before {
	content: "";
	width: 14px;
	height: 14px;
	margin-right: -2px;
	display: block;
	float: right;
	background-position: 5px -2071px;
}

.button.paging-prev:before {
		content: "";
	width: 14px;
	height: 14px;
	margin-left: -2px;
	display: block;
	float: left;
	background-position: 0 -2303px;
}

#template-help {
	padding: 20px 10px;
}

#template-help p {
	margin-bottom: 10px;
}

/* updates */

ul.updates {
	margin-bottom: 20px;
}

ul.updates li {
	background-color: rgb(246,246,246);
	padding: 10px 5px 10px 10px;
	border-bottom: 1px solid #fff;
	color: rgba(0,0,0,0.5);
	text-decoration: none;
	font-size: 1em;
}

ul.updates li .action {
	float: right;
	margin-top: -3px;
	margin-right: 5px;
}

ul.updates li.success {
	background-position: 10px -621px;
	padding-left: 30px;
}

ul.updates li.failure {
	background-position: 10px -702px;
	padding-left: 30px;
}

/* importables */

ul.importables {
	margin-bottom: 20px;
}

ul.importables li {
	background-color: rgb(246,246,246);
	padding: 10px 5px 10px 10px;
	border-bottom: 1px solid #fff;
	color: rgba(0,0,0,0.5);
	text-decoration: none;
	font-size: 1em;
}

ul.importables li .action {
	float: right;
	margin-top: -3px;
	margin-right: 5px;
}

ul.importables li.success {
	background-position: 10px -621px;
	padding-left: 30px;
}

ul.importables li.failure {
	background-position: 10px -702px;
	padding-left: 30px;
}

/* footer */

.footer {
	clear: both;
	margin-left: 20px;
	margin-right: 20px;
	padding: 20px;
	min-height: 30px;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	font-size: 0.923em;
}

.footer a:link,
.footer a:visited {
	color: #28544D;
	text-decoration: none;
}

.footer .version {
	float: right;
	padding-top: 1px;
}


